<h1>Games!</h1>

<h2>Games backlog:</h2> 
<ul>
  {{#each game}}
    {{#unless played}}
      {{game_name}}
            <button class="change-played" data-id="{{id}}" data-newplayed="{{played}}">
		{{#if played}}Need To Play Again{{else}}Check One Off The List{{/if}}
	</button>
    {{/unless}}
  {{/each}}
</ul>


<h2>Games you have played:</h2>

<ol>
  {{#each game}}
    {{#if played}}
      {{game_name}}
      <button class="change-played" data-id="{{id}}" data-newplayed="{{played}}">
		{{#if played}}Need To Play Again{{else}}Check One Off The List{{/if}}
	</button>
    {{/if}}
  {{/each}}
</ol>

<h2>Add a Game</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Game Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="played_">Played already?</label><br>
    <input type="radio" name="played" value="0" checked> Into the Backlog<br>
    <input type="radio" name="played" value="1"> Already Played
  </div>

  <button type="submit">Add Game</button>
</form>